<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, neque ex. Perferendis eos reiciendis id
            iure nam esse adipisci nulla neque maxime incidunt aut, quas, officia dolor fugiat vero nobis recusandae
            deleniti distinctio delectus placeat ipsam fuga, voluptas sapiente dolorum!</p>
    </div>
</div>