<div class="jumbotron mt-4">
    <h1 class="display-4">Simple Web App & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis accusamus quo exercitationem quas error,
        corporis labore earum debitis ducimus eius maiores, sint quidem suscipit magnam, quisquam distinctio minima.
        Fugiat.
    </p>
    <a href="https://ldmaroto.github.io/simplewebapp/" class="btn btn-primary btn-lg">GitHub Repository</a>
</div>