<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleWebApp</title>
    <!-- Enlace CSS desde la CDN de BOOTSTRAP 4 -->

</head>

<body>
    <p>Barra de Navegación</p>

    <!-- {{{ body }}} Sintaxis de "express-handlebars", contenido de los archivos ".hbs" -->
    {{{ body }}}

    <p>Footer</p>
</body>

</html>